@charset "utf-8";
@font-face {
    font-family: JamsilT;
    src: url(../webfonts/TheJamsilOTF1Thin.woff1\ Thin.woff) format("woff");
}
@font-face {
    font-family: JamsilL;
    src: url(../webfonts/TheJamsilOTF2Light.woff) format("woff");
}
@font-face {
    font-family: JamsilR;
    src: url(../webfonts/TheJamsilOTF3Regular.woff) format("woff");
}
@font-face {
    font-family: JamsilB;
    src: url(../webfonts/TheJamsilOTF5Bold.woff) format("woff");
}

* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}
body {
    font: 16px JamsilL;
}

#wrap {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.topMenu ul{
    display: flex;
    justify-content: flex-end;
    margin-top: 17px;
    margin-right: 10px;
}
.topMenu ul li {
    width: 80px;
    text-align: center;
    margin-left: 20px;
}
.topMenu ul li:first-child a {
    color: #f00;
}
.topMenu ul li:nth-child(2) a {
    color: #4f4f4f;
}
.topMenu ul li:last-child a {
    position: relative;
    width: 100%;
    height: 26px;
    display: block;
    top: -4px;
    background: #f00;
    border-radius: 6px;
    font: 13px JamsilR;
    line-height: 26px;
    color: #fff;
}
.topMenu ul li img {
    line-height: 26px;
    vertical-align: middle;
    padding-left: 3px;
    padding-bottom: 2px;
}
.top {
    margin-top: 37px; 
    width: 100%;
    display: flex;
    height: 60px;
    justify-content: space-around;
} 
.top .logo {
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top .search {
    position: relative;
    width: 570px;
    height: 60px;
    border: 3px solid #f00;
    border-radius: 50px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top .search input {
    width: 90%;
    font-size: 20px;
    padding: 5px;
    border: none;
}
:focus {
    outline: none;
}
.top .page {
    width: 280px;
    height: 60px;
}
.top .page ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.top .page ul li {
    flex: 1 1 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    width: 100%;
    margin-top: 20px;
}
.menu > ul {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.menu > ul > li {
    position: relative;
    flex: 1 1 10%;
    font: 26px JamsilR;
    background: #fff;
    height: 60px;
    line-height: 60px;
}
.menu > ul > li:first-child img {
    margin-right: 13px;
}
.menu > ul > li:nth-child(5) {
    font-size: 22px;
    line-height: 60px;
}
.menu > ul > li:nth-child(7) img {
    width: 106px;
}
.menu > ul > li .sub {
    position: absolute;
    width: 100%;
    height: 0;
    top: 60px;
    overflow: hidden;
    transition: height 0.5s;
    background: #fff;
    z-index: 2;
}
.menu > ul:hover .sub {
    height: 360px;
}
.menu > ul > li a::before {
    display: inline-block;
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    background: #f00;
    width: 100%;
    height: 4px;
    transform: scale(0);
    transition: transform 0.5s;
    z-index: 3;
}
.menu > ul > li:hover a::before, 
.menu > ul > li a:hover::before {
    transform: scale(1);
}
.menu > ul > li .sub li {
    position: relative;
    width: 100%;
    font: 20px JamsilL;
    color: #929292;
    text-align: center;
    margin: 20px 0;
}
.menu > ul > li .sub li::before {
    position: absolute;
    top: 0;
    left: -2px;
    width: 26px;
    height: 26px;
    content: "";
    background-image: url(../images/menu_hover.png);
    opacity: 0;
    transition: opacity 0.5s;
}
.menu > ul > li:nth-child(7) .sub li:nth-of-type(2):hover::before {
    opacity: 0;
}
.menu > ul > li .sub li:hover {
    color: #f00;
}
.menu > ul > li .sub li:hover::before {
    opacity: 1;
}
.menu > ul > li ul img {
    width: 106px;
}
.visual {
    position: relative;
    width: 100%;
    height: 400px;
}
.visual .slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.visual .btnP {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 10px;
    z-index: 1;
}
.visual .btnP .btn {
    width: 250px;
    display: flex;
    justify-content: space-between;
}
.visual .btn li a {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #d9d9d9;
}
.visual .btn li:last-child a{
    width: 20px;
    height: 18px;
    border-radius: 0;
    background: rgba(0, 0, 0, 0);
    background-image: url(../images/visual_menu.png);
}
.visual .btn li a:hover {
    background-image: url(../images/menu_hover.png);
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
}
.visual .btn li:last-child a:hover {
    background-image: url(../images/visual_menu_hover.png);
}


.popup {
    position: fixed;
    left: 95.5vw;
    top: 70vh;
    width: 100%;
}
.popup > ul{
    width: 115px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}
.popup .scroll li {
    margin: 10px 0;
}
.popup .scroll li img {
    vertical-align: middle;
}
.popup .scroll li:last-child {
    transform: rotate(180deg);
}
.popup .scroll li:hover {
    background: #d9d9d9;
    border: 2px solid #d9d9d9;
    border-radius: 50%;
}
.popup > ul > li:last-child {
    position: relative;
}
.popup > ul > li:last-child img {
    transition: opacity 0.4s;
}
.popup > ul > li:last-child::before {
    position: absolute;
    left: 0;
    top: 0;
    content: url(../images/popup_ani.png);
    transform: scale(1.2);
    animation: click 0.7s infinite 0.2s alternate;
}
@keyframes click {
    from {transform: translate(0,0);}
    to {transform: translate(5px,5px);}
}
.popup > ul > li:last-child::after {
    position: absolute;
    left: -10px;
    top: -10px;
    content: url(../images/icon_popup2.png);
    opacity: 0;
    transition: opacity 0.5s;
    z-index: -1;
}
.popup > ul > li:last-child:hover img{
    opacity: 0;
}
.popup > ul > li:last-child:hover::after {
    opacity: 1;
}
nav .recom {
    margin-top: 20px;
}
nav .recom .title {
    display: block;
    margin: 0 auto;
}
nav .recom .title ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .recom .title li:first-child {
    margin-right: 20px;
}
nav .recom .title p:first-child {
    position: relative;
    font: 35px JamsilB;
    text-align: center;
}
nav .recom .title p:first-child::after {
    position: absolute;
    left: 100%;
    bottom: 0;
    content: "";
    width: 12px;
    height: 12px;
    background: #f00;
    border-radius: 50%;
}
nav .recom .title p:last-child {
    font: 13px JamsilL;
    text-align: center;
    color: #929292;
    margin-top: 5px;
}
nav .recom .prod {
    margin-top: 22px;
    overflow: hidden;
}
nav .recom .prod > ul {
    width: 1490px;
    display: flex;
    justify-content: space-between;
    flex-basis: 220px;
}
nav .recom .prod > ul > li {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    overflow: hidden;
}
nav .recom .prod .under {
    position: relative;
}
nav .recom .prod .under li:first-child {
    background: #f5f5f5;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}
nav .recom .prod .under li:last-child {
    position: absolute;
    left: 0;
    top: 0;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
    
} 
nav .recom .prod .under li:last-child a {
    position: relative;
    color: #fff;
    font: 16px JamsilR;
    text-align: center;
}
nav .recom .prod .under li:last-child a p {
    width: 160px;
    height: 40px;
    text-overflow: ellipsis;
    margin: 0 auto;
    /* transform: scale(0);
    transition: scale 0.5s;
    transition-delay: 1s; */
}
nav .recom .prod .under li:last-child a p:first-child {
    line-height: 20px;
    margin-top: 80px;
}
nav .recom .prod .under li:last-child a p:nth-child(2) {
    line-height: 40px;
}
nav .recom .prod .under li:last-child a .img {
    position: absolute;
    left: 0;
    top: 0;
    width: 220px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
    opacity: 0.6;
}
nav .recom .prod .under img {
    width: 192px;
}
nav .recom .prod .under li:first-child:hover{
    transform: translateX(-220px);
}
nav .underbar {
    position: relative;
    width: 1155px;
    height: 5px;
    margin: 0 auto;
    background: #f5f5f5;
    margin-top: 15px;
}
nav .underbar::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 16.66%;
    height: 5px;
    background: #f00;
    z-index: 1;
}